# User Testing Report - Foodsaviour Group B
*Date Conducted: 29 November 2022*

<br><br>

## Table of Contents

1. **Summary**
2. **Goals**
3. **Methodology**
   - Testing Setup
   - Participant Profiles
   - User Scenarios
4. **Results** 
   - Issues discovered
   - Suggestions Recieved
5. **Survey Data**
<br><br>


## Summary

This User Test was conducted on the project Foodsaviour, made by Group B which includes -  Maysey lu, Harman Sahota, Abdulaziz Almutlaq and Jordan Onwuvuche. 

<br><br>
## Goals

The aim of this Test is to identify problems in the current product both design wise and functionality wise and collect data to make improvements which will lead to a better user experience. 
<br><br>

## Methodology
### Testing Setup

<br>
This Testing Session included 2 sessions of user testing per admin - 

1. **User Feedback** - in this session the admin guided the user to do various processes in the website without givint them direct instructions, most of the speaking here was done by the admin. 

2. **Think Aloud** - In this session the admin provided a task to the user and they did it without any help of the admin in the process saying their thoughts out aloud while the admin took notes.

Both of these Sessions were 40 minutes of duration per user. 

At the end of the session the user was asked to fill in a survey.
<br><br>
### User Profiles

1. User #1 - Anamica Sunderaswara (User Feedback Session)

### User Scenarios 

1. **User Group - Volunteer** <br>
 You are a 64 years old, retired bus driver that is not very familiar with technology and has only used a smartphone for making calls and texting. To pass time, you have decided to volunteer for ABC Farms, a local farm, which focuses on growing fresh produce such as apples, plums, and squashes. This is your first time working with them and has never heard of the Food Saviour website until now. You have been tasked to calculate how much food waste the organization has diverted from the landfill and use those results to create a report. 

**Tasks:**
- Create an account.
- View your profile.
- Log out of your account.
- Log into your account.
- Enter data to figure out how much food waste the organization has diverted from the landfill so far.
- Export your results.
- Add some more data entries.
- Download your results again.
- Delete one or more data entries.

2. **User Group: Admin**<br>
You are the Admin of XYZ Farms which specializes in growing pumpkin, zucchini, and garlic. Your organization recently got some new volunteers and staff. Your manager has requested that you quickly approve their Food Saviour accounts so that they can start collecting the data needed to create a report that you will be presenting to the Board. You are looking to measure how much food you can save and distribute. You would also like to connect with other organizations that use the Food Saviour website.

**Tasks:**<br>
- Log into your account:
- Email: [email will be given]
- Password: [password will be given]
- Change the access level(s) of two different roles. 
- Approve or disapprove any pending accounts.
- Browse through postings made by other organizations
- Connect with any that you are interested in.
- Create your own posting.
- Search for your posting
<br><br>
## Results 

### Issues Discovered

### Suggestions

<br><br>
## Survey 


<br><br>
*Report Compiled by -Maysey lu, Harman Sahota, Abdulaziz Almutlaq and Jordan Onwuvuche on 3 December 2022.*










