@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{

    scroll-behavior: smooth;
  
}

body {
  color: rgb(0, 0, 0);
  font-family: 'Lato', sans-serif;
  background-color: #e7f5e4;
}

header a {
  text-decoration: none;
}

header {
  padding: 0 20px;
  background-color: #ffffff;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

#brand {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
  padding: 10;
}

#brand a {
  color: #415d34;
}

.nav ul {
  padding: 0;
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav ul a {
  color: rgb(0, 0, 0);
}

.nav ul li {
  padding: 5px;
  margin-left: 10px;
}

.nav ul li a:hover
 {
  color: #a1c298;
}

.nav #login{
  border-radius: 5px;
  padding: 5px 8px;
}
.register{
  color: #415d34 !important;
  border-color: #415d34 !important ;
}
.register:hover{
  background-color: #415d34 !important;
  color: white !important;
}

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: rgb(0, 0, 0);
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .nav .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.nav .mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
  z-index: 2;
  background-color: #ffffff;
}

.nav .mobile-menu li {
  margin-bottom: 10px;
}

@media only screen and (max-width: 605px) {
  header #desktop-menu {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }
}

footer a {
  text-decoration: none;
  color: grey;
}

footer .nav {
  margin: 0;
  width: 100%;
  justify-content: center;
}


